.container {
    text-align: center;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(182, 87, 87, 0.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    color: blue;
}


body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    transition: 0.5s;
}


.title {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

.button {
    padding: 16px 24px;
    font-size: 18px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 50px;
    box-shadow: 0 6px 12px rgba(76, 175, 80, 0.3);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.button:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(76, 175, 80, 0.4);
}

.button:active {
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgba(76, 175, 80, 0.4);
}

.button:hover {
    background-color: #545454;
}