body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    transition: 0.5s;
}

.container {
    text-align: center;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(182, 87, 87, 0.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    color: blue;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #b07070;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #545454;
}